<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me!</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body class="bg-gray-100">
    <div class="flex min-h-screen">
      <!-- Sidebar -->
      <aside class="flex-1/3 w-64 text-center bg-gray-200 shadow-lg">
        <div class="relative h-screen w-64 bg-white">
          <div
            class="absolute top-1/2 right-5 transform -translate-y-1/2 flex flex-col"
          >
            
            <nav>
              <ul class="space-y-2">
                <li>
                  <a
                    href="/index.html"
                    class="block px-4 py-2  hover:-translate-x-2 transition-transform duration-300 text-gray-700 rounded-lg"
                  >
                    niyaz
                  </a>
                </li>
              <li>
                
                <li>
                  <a
                    href="portfolio.html"
                    class="block px-4 py-2 hover:-translate-x-2 transition-transform duration-300 text-gray-700 rounded-lg"
                  >
                    Portfolio
                  </a>
                </li>
                <li>
                  <a
                    href="contact.html"
                    class="block px-4 py-2 text-2xl font-bold hover:-translate-x-2 transition-transform duration-300 text-gray-700 rounded-lg"
                  >
                    Contact
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </aside>

      <!-- Main Content -->
      <main class="relative flex-1 flex items-center text-right justify-center p-6">
        <div class="p-6 rounded-lg">
          <img
            src="/public/images/xd.jpg"
            alt="Photographer"
            class="rounded-lg mb-4"
          />
          
          
        </div>
        <div class="mt-4 text-sm">
          <h2 class="text-2xl text-black font-bold">Contact Information</h2>
          <ul class="text-xl text-gray-700">
            <li><strong>Email:</strong> <a href="mailto:niyazaysar02@gmail.com" class="text-blue-500">niyazaysar02@gmail.com</a></li>
            <li><strong>Phone:</strong> <a href="tel:+60102588746" class="text-blue-500">+60 10-258 8746</a></li>
            <li><strong>LinkedIn:</strong> <a href="https://tinyurl.com/yc3dj5sa" target="_blank" class="text-blue-500">linkedin.com/niyaz</a></li>
            <li><strong>GitHub:</strong> <a href="https://github.com/niyazucc" target="_blank" class="text-blue-500">github.com/niyazucc</a></li>
            <li><strong>Address:</strong> PT921, Taman Guchil Baru, 15200 Kota Bharu, Kelantan, Malaysia</li>
          </ul>
        </div>
      </main>
    </div>
  </body>
</html>
